body {
    background-color: #c0c7c6;
}

p {
    font-size: 3.5em;
    font-weight: bold;
}

.container {
    font-family: "Euphoria Script", cursive, serif;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px #9aa1a2;
}

.container::before {
    content: "";
    background: url(/img/stainedColumns.jpg) no-repeat center;
    height: 900px;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.space {
    margin-top: 45px;
}

#yellow {
    background: -webkit-radial-gradient(#d39c6f 5%, #c57a3e 15%, #b75a0f 60%); 
    border-radius: 66px 66px 5px 66px;
    box-shadow: 2px 2px 4px black;
}

#red {
    background: -webkit-radial-gradient(#b66666 5%, #9e3232 15%, #860000 60%);
    border-radius: 66px 5px 66px 66px;
    box-shadow: 2px 2px 4px black;
}

#blue {
    background: -webkit-radial-gradient(#79a5dd 5%, #4d87d2 15%, #216ac7 60%);
    border-radius: 66px 66px 66px 5px;
    box-shadow: 2px 2px 4px black;
}

#green {
    background: -webkit-radial-gradient(#9dc78e 5%, #7cb469 15%, #5ca244 60%);
    border-radius: 5px 66px 66px 66px;
    box-shadow: 2px 2px 4px black;
}

.box {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px solid black;
}

.center {
    text-align: center;
    margin-left: 0;
}

.btn-div {
    margin-top: 80px;
}

button {
    border: 4px solid black;
    font-size: 32px;
    padding: 10px;
    background-color: #c1cacb;
    border-radius: 6px;
    text-shadow: 2px 2px 4px #9aa1a2;
    box-shadow: 2px 2px 4px black;
}

.status, .status2 {
    text-align: right;
    font-size: 2.5em;
    font-weight: bold;
}

