body {
    font-family: "Euphoria Script", cursive, serif;
    text-shadow: 2px 2px 4px #9aa1a2;
    background: url(/img/stainedColumns.jpg) repeat center center fixed;
    background-size: cover;
}

.alerts {
    background-color: black;
    opacity: 0.9;
    width: 100%;
}

p {
    font-size: 3.5em;
    font-weight: bold;
    color: #c1cacb;
    text-shadow: 3px 3px 5px #131313;
}

.leftText {
    border-radius: 2px 60px 2px 60px;
    margin-top: 10px;
}

.rightText {
    margin-top: 10px;
    border-radius: 60px 2px 60px 2px;
}

.space {
    margin-top: 45px;
}

#yellow {
    background: -webkit-radial-gradient(#d39c6f 5%, #c57a3e 15%, #b75a0f 60%); 
    border-radius: 66px 66px 5px 66px;
    box-shadow: 2px 2px 4px #131313;
}

#red {
    background: -webkit-radial-gradient(#b66666 5%, #9e3232 15%, #860000 60%);
    border-radius: 66px 5px 66px 66px;
    box-shadow: 2px 2px 4px #131313;
}

#blue {
    background: -webkit-radial-gradient(#79a5dd 5%, #4d87d2 15%, #216ac7 60%);
    border-radius: 66px 66px 66px 5px;
    box-shadow: 2px 2px 4px #131313;
}

#green {
    background: -webkit-radial-gradient(#9dc78e 5%, #7cb469 15%, #5ca244 60%);
    border-radius: 5px 66px 66px 66px;
    box-shadow: 2px 2px 4px #131313;
}

.box {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px solid #131313;
}

.center {
    text-align: center;
    margin-left: 0;
}

.btn-div {
    margin-top: 80px;
}

button {
    border: 4px solid #131313;
    font-size: 32px;
    padding: 10px;
    background-color: #c1cacb;
    border-radius: 6px;
    text-shadow: 2px 2px 4px #9aa1a2;
    box-shadow: 2px 2px 4px #131313;
}

